 # MAP and FILTER

 map() applies a function to every element in an iterable

 filter() keeps only the elements that satisfy the condition.

In [1]:
def find_square(num):
    return num ** 2

In [ ]:
mynum=[1,2,3,4,5]
for item in map(find_square,mynum):   # One way is to iterate through the loop
    print(item)

In [ ]:
list(map(find_square,mynum))

In [3]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else: 
        return mystring[0]

In [4]:
names = ['Andy','Sally','Eve']
list(map(splicer,names))

['EVEN', 'S', 'E']

In [5]:
def check_number(num):
    return num % 2 == 0

In [6]:
mynum = [1,2,3,4,5,6]
list(filter(check_number,mynum))

[2, 4, 6]

# L A M B D A                FUNCTION

In [7]:
def square(num):return num ** 2

In [28]:
square(10)

100

In [8]:
square = lambda num: num ** 2


square(10)

100

In [9]:
list(map(lambda num:num**2,mynum))

[1, 4, 9, 16, 25, 36]

In [10]:
list(filter(lambda num:num%2 == 0,mynum))

[2, 4, 6]

In [11]:
names
list(map(lambda name:name[::-1],names))

['ydnA', 'yllaS', 'evE']

In [ ]:
def addomain():
    for i in range(1,5):
        print(f"AD{i}") 

addomain()

In [59]:
x =35
def printer():
    x = 50
    return x

print(x)

print(printer())

35
50

# SCOPE of VARIABLES

In [133]:
# GLOBAL
name = 'THIS is a GLOBAL STRING'

def greet():
    # ENCLOSING SCOPE.
    #name = "THis is ENCLOSING SCOPE"

    def hello():
    #LOCAL SCOPE
        name = 'I AM A LOCAL'
        print('Hello ' +name)

    hello()

In [134]:
greet()

print(name)

Hello I AM A LOCAL
THIS is a GLOBAL STRING

In [169]:
def unique_list(lst):
    return list(set(lst))

In [175]:
numbr = [10,10,1,2,2,2,1,3,3,4,4]

#print(f"Original List {numbr}")
#print(unique_list(numbr))


unique_list = lambda lst: list(set(lst))
print(unique_list(numbr))

#list(filter(lambda lst:unique_list,numbr))

[1, 2, 3, 4, 10]

In [2]:
from functools import reduce
def multiply_list(numb):
    return reduce(lambda x,y: x * y, numb, 1)

result = multiply_list([2,3,4])
print(result)

24

In [3]:
#USING THE map() and filter()


from functools import reduce

def multiply_list(numbers):
    # Filter out non-numeric values (just in case)
    filtered = filter(lambda x: isinstance(x, (int, float)), numbers)
    
    # Map each number to itself (identity mapping, but shows usage of map)
    mapped = map(lambda x: x, filtered)
    
    # Reduce to multiply all numbers together
    product = reduce(lambda a, b: a * b, mapped, 1)
    
    return product

# Example usage
print(multiply_list([2, 3, 4]))          # Output: 24
print(multiply_list([5, 10, "hello"]))   # Output: 50 (ignores "hello")
print(multiply_list([]))                 # Output: 1

24
50
1

In [37]:
def multiply_num(lst):
    total = 1
    for number in lst:
        total = total * number
    return total



multiply_num([1,2,3,4])

24

In [66]:
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [4]:
def palindrome(s):
    #Remove the empty space if its a string
    s = s.replace(' ','')
    print(s)
    #Check is string is == reversed version of the string
    if  s == s[::-1]:
        print("Its Palindrome")
    else:
        print("Its not Palindrome")

In [5]:
palindrome('madam')
palindrome('madam')
palindrome('nurses run')
#print(result)

madam
Its Palindrome
madam
Its Palindrome
nursesrun
Its Palindrome

In [ ]:
import time
from tqdm.notebook import tqdm
def pbar_func():
    pbar = tqdm(range(0,50),desc="Processing...",bar_format='{desc}|{bar}|{percentage:.1f}')

    for i in pbar:    
        time.sleep(0.1)
        if i == 49:
            pbar.set_description("Done")
    pbar.close()
    
## New Change

In [ ]:
pbar_func()

In [6]:
# "Find the sum of all the multiples of 3 or 5 below 1000."
def solve_problem_1():
    total_sum = 0
    for i in range(1, 1000):
        if i % 3 == 0 or i % 5 == 0:
            total_sum += i
    return total_sum

print(solve_problem_1())

233168

In [38]:
# Write a function that checks whether a number is in a given range (inclusive of high and low)

def ran_check(num,low,high):
    if num in range(low,high+1):
        print(f"{num} is in range of {low} and {high}")
    else:
        print("Not in Range")

In [40]:
ran_check(5,4,10)

5 is in range of 4 and 10

In [45]:
#Method 2

def in_range(num,low,high):
    return low <= num <= high

print(in_range(0,1,10))

False

In [10]:
# Write a function that accepts a string and calculates the number of upper case letters and lower case letter.

def check_lower_upper(s):
    d = {'lower':0, 'upper':0}

    lower_case = 0
    upper_case = 0

    for char in s:
        if char.islower():
            d['lower'] += 1
        elif char.isupper():
            d['upper'] += 1
        else:
            pass
    print(f'Original String : {s}',end='')
    print(f'Lower Case Count: {d["lower"]}')
    print(f'Upper case count: {d["upper"]}')

In [11]:
s = "My Name is Mohammad Younus Nawaz"
check_lower_upper(s)

Original String : My Name is Mohammad Younus NawazLower Case Count: 22
Upper case count: 5

In [ ]:
# Improvement 1 : Return values instead of just printing  -- using the sum() function

def check_lower_upper(s):
    lowercase = sum(1 for char in s if char.islower())
    uppercase = sum(1 for char in s if char.isupper())
    return{"original":s,"lowerCase":lowercase,"UpperCase":uppercase}


result=check_lower_upper("My Name is Mohammad Younus Nawaz")
print(result,end='')

{'original': 'My Name is Mohammad Younus Nawaz', 'lowerCase': 22, 'UpperCase': 5}

In [121]:
#Improvement 2 : More Pythonic with collection.Counter

#Counter  - it counts how many times each elements appears in an iterable ( like a list,string or generator)


from collections import Counter

def check_lower_upper(s):
    counts = Counter("lower" if c.islower() else "upper" if c.isupper() else "other" for c in s)
    return{"Original":s, "lower":counts['lower'],"upper":counts['upper'],"others":counts['other']}


check_lower_upper("My name is Mohammad Younus!")

{'Original': 'My name is Mohammad Younus!',
 'lower': 19,
 'upper': 3,
 'others': 5}

In [138]:
def check_banana_count(s):
    counts = Counter(s)
    return{"b":counts['b'],"a":counts['a'],"n":counts['n']}

In [139]:
check_banana_count("banana")

{'b': 1, 'a': 3, 'n': 2}

In [14]:
#s = "banana"
#Counter(s)


from collections import Counter
counts = Counter("Hello World!")

print(counts)

Counter({'l': 3, 'o': 2, 'H': 1, 'e': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1, '!': 1})

In [147]:
#This function will calculate the sum of each character in a given phrase or string 

from collections import Counter

def count_letters(s):
    # Create a Counter object from the string
    counts = Counter(s)
    
    # Return only alphabetic characters (ignore spaces, digits, punctuation)
    return {char: count for char, count in counts.items() if char.isalpha()}

# Example usage
result = count_letters("Mohammad")
print(result)

{'M': 1, 'o': 1, 'h': 1, 'a': 2, 'm': 2, 'd': 1}

In [146]:
from collections import Counter

def count_letters(s):
    counts = Counter(s)

    return {char: count for char, count in counts.items() if char.isalpha()}


result = count_letters("Wipro")
print(result)

{'W': 1, 'i': 1, 'p': 1, 'r': 1, 'o': 1}

In [196]:
#Write a Function to check whether a string a pangram or not.
import string
def ispangram(str1, alphabet=string.ascii_lowercase):

#create a set of the alphabet
    alphaset = set(alphabet)
    #print(alphaset)
#remove any spaces from the input string
    str1 = str1.replace(' ','')
    
#convert in all lower case
    str1 = str1.lower()
    
#sort the letters
    sorted_letters = sorted(set(str1))
    print(f"sorted letters: {sorted_letters}")

#grab all unique letters from the string set()
    str1 = set(str1)
    
#alphabet set == string set input
    return str1 == alphaset
    #print(str1)

result = ispangram("The quick brown fox jumps over the lazy dog")
print(result)

sorted letters: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
True

In [197]:
import string
def is_pangram(s):
    # Convert to lowercase and make a set of alphabetic characters
    letters = sorted(set(c.lower() for c in s if c.isalpha()))
    #print(letters)
    
    # Sorted list of letters found
    #sorted_letters = sorted(letters)
    #print(sorted_letters)
    
    # Check if all 26 letters are present
    is_pangram = set(string.ascii_lowercase).issubset(letters)
    
    print("Letters found (in order):", letters)
    return is_pangram

# Example usage
sentence = "The quick brown fox jumps over the lazy dog"
print("Is pangram?", is_pangram(sentence))

Letters found (in order): ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
Is pangram? True

# LIST COMPREHENSION

In [32]:
def numsquare(num_list):
   return [n**2 for n in num_list]

num_list = [1,2,3,4,5]
result = numsquare(num_list)
print(result)

[1, 4, 9, 16, 25]

In [84]:
def namecaps(names):
    return [show.title() for show in names if len(show) > 5]

names = ["younus","nawaz","zakir","zahid","habeeb","ameen"]
result = namecaps(names)
print(result)

['Younus', 'Habeeb']

In [111]:
from time import time

def numsquareitself():
    start = time()
    result = [n**2 for n in range(1,100)]
    end = time()
    print (f'Time look ({end - start:.6f})')
    return result

r = numsquareitself()
print(r)

Time look (0.000006)
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]