In [ ]:
(1 < 2) and  (2 < 1)

In [ ]:
12 != 12

In [ ]:
if 2 == 2:
    print('True')
else:
    print('False')

Below is the Example of if..elif.. else

In [ ]:
loc = 'London'

if loc == 'London':
    print('I am in London')
elif loc == 'Bankok':
    print("I am in Bankok")
elif loc == 'Hyderabad':    
    print("I am in Hyderabad")
else:   
    print('I am at home')

FOR LOOP

SYNTAX : 

my_iterable = [1,2,3]
    for item_name in my_iterable:
print(item_name)

In [ ]:

mylist = [1,2,3,4,5,6,7,8,9,10]

for num in mylist:
    #check for even number
    if num % 2 == 0:
        print(f'This is even number:{num}')
    else:
        print(f'non even number:{num}')

In [ ]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

In [ ]:
mytuple = [(1,2),(3,4),(5,6),(7,8)]
len(mytuple)
for (a,b) in mytuple:
    print(a)
    #print(b)

# The above is called TUPLE unpacking

In [ ]:
for _ in 'Hello':
    print('Cool!')

In [ ]:
mytuple = [(1,2,3),(3,4,5),(6,7,8),(9,10,11)]

for a,b,c in mytuple:
    print(a)

LET see how can we use the DICTIONARY in for loops

In [ ]:
mydict = {'key1':['a','b','c','t']}
#letter = (mydict['key1'][0].upper())
#print(letter)
#letter.upper()

for l in mydict['key1']:
    print(l.upper())

In [ ]:
#Taking Advance of Tuple Unpacking here

mydict1 = {'Orange':10,'Kiwi':30,'banana':40,'Apple':30}
for l in mydict1:
    print(mydict1)

In [ ]:
#Now lets see how to unpack it.
mydict1 = {'Orange':10,'Kiwi':30,'banana':40,'Apple':30}
for key,value in mydict1.items():
    print(value,'Rs',key)

In [ ]:
n = 5
for j in range(n):
    print('*',end="")  # Will print in one line

In [ ]:
n = 5
for i in range(n):  # This loop holds the row number start with ZERO
    for j in range(n):  #This loop holds the colums number
        print('*',end=' ')
    print()

In [ ]:
# Incresing Traigle

n = 5
for i in range(n):  # Outer loop controls the rows
    for j in range(i+1):  # Inner loop controls the columns (stars per row)
        print('*',end=' ') 
    print()

In [ ]:

# if you change the (i+1) to (i,n) it will create the inverted training.

n = 5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

In [ ]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

In [ ]:
n = 5
for i in range(n):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):  # range i + 1 to i .. will print the peak
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print('',end=' ')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print()

In [ ]:
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(' ',end='')
    for j in range(i):  # range i + 1 to i .. will print the peak
        print('*',end='')
    for j in range(i+1):
        print('*',end='')
    print()

for i in range(n):
    for j in range(i+1):
        print('',end=' ')
    for j in range(i,n-1):
        print('*',end='')
    for j in range(i,n):
        print('*',end='')
    print()

In [ ]:
n = 5
p = 0
for i in range(n):
    for j in range(i+1):
        print(p,end='')
    p+=1
    print()

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        if(i%2==0):
            print('1',end='')
        else:
            print('2',end='')
    print()

In [11]:
rows = 5
#Upper part of the diamond
for i in range(1, rows + 1):
    print(" " *  (rows - i), end="")
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print("*", end =" ")
        else:
            print(" ",end="")
    print()

#Lower part of the Diamond
for i in range(rows -1, 0 ,-1):
    print(" " *  (rows - i), end="")
    for j in range(1, 2 * i):
        if j == 1 or j == 2 * i - 1:
            print("*", end =" ")
        else:
            print(" ",end="")
    print()

    *
   *  *
  *    *
 *      *
*        *
 *      *
  *    *
   *  *
    *

WHILE LOOP

While loops will Continue to execute a block of code while some condition remains TRUE.

In [ ]:
x = 0
while x < 5: 
    print(f'The value is {x}')
    x = x + 1
else:
    print('X IS not less than 5')

BREAK , CONTINUE , PASS

break : Break out of the current closest enclosing loop.

continue : Goes to the top of teh close enclosing loop.

pass: Does nothing at all.

In [ ]:
x = [1,2,3,4,5]
for l in x:
    pass
print('Will contine later')

In [ ]:
myname = 'MOHAMMAD YOUNUS NAWAZ'
for l in myname:
    if l=='m' or l=='M':
        continue  # Goes to the top of the close enclosing loop.
    print(l,end='')

In [ ]:
#BREAK

x = 0
while x < 5:
    if x == 2:
        break # Breaks out of the current closest enclosing loop
    print(x)
    x +=1

USEFUL OPERATORS in PYTHON

In [ ]:
#ENUMERATE

word ='abcedfgh'
for index,letter in enumerate(word):
    print(index,end='')
    print(letter)


Explanation

• 	 → gives you both the index and the letter while looping through the string.

• 	 → prints the index without moving to a new line.

• 	 → prints the letter and moves to a new line (default behavior).

In [ ]:
for num in range(0,30):
    print(num,end=' ')

In [ ]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
zip(mylist1+mylist2)

for item in zip(mylist1,mylist2):
    print(item)

In [91]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
2 in [1,6,7,2]

'x' in ['x','d','c','y']

# Can also be used in dictionary

True

In [115]:
d = {'mkeys':345}
#345 in d.values()
'mkeys' in d.keys()

True

In [116]:
mylist=[1,3,4,5,7,67,89,67]
print(min(mylist))
print(max(mylist))

1
89

In [5]:
from random import shuffle 
mylist = [1,4,5,6,34,66,77,56,100]
shuffle(mylist)
print(mylist)

[4, 56, 77, 34, 100, 66, 5, 6, 1]

In [2]:
from random import randint 
mynum = randint(0,100)
print(mynum)

44

COMPREHENSION in PYTHON

A comprehension is a concise way to construct new sequences (like lists, sets, or dictionaries) by looping over iterables and optionally applying conditions.
It’s essentially a one-liner shortcut  for loops.

In [4]:
mystring = 'hello'
mylist1 = []
for letter in mystring:
    mylist1.append(letter)
print(mylist1)

['h', 'e', 'l', 'l', 'o']

# List Comprehension
SYNTAX
[expression for item in iterable if condition]

In [5]:

mylist = 'hello'
mylist = [letter for letter in mylist]
print(mylist)

['h', 'e', 'l', 'l', 'o']

Set Comprehension

Similar to list comprehension, but creates a set (unique values).

In [6]:


unique_letters = {letter for letter in "banana"}
# Output: {'b', 'a', 'n'}
print(unique_letters)

{'n', 'b', 'a'}

Dictionary Comprehension

  Creates dictionaries in one line.

In [203]:
squares_dict = {x: x**2 for x in range(5)}
# Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Generator Expression
- Similar syntax, but uses () instead of [].
- Produces values lazily (one at a time).

In [ ]:
gen = (x**2 for x in range(5))
print(next(gen))  # Output: 0
print(next(gen))  # Output: 1

Comparison Example

 Traditional Loop

In [206]:
result = []
for x in range(10):
    if x % 2 == 0:
        result.append(x**2)
print(result)

[0, 4, 16, 36, 64]

List Comprehension

SYNTAX

[ [PART1] [PART2] [PART3]]

[[OPERATION] [for var in] [org_list]]

Example:

nums = [1,2,3,4,5,6]

[n**2 for n in nums]

In [208]:
result = [x**2 for x in range(10) if x % 2 == 0]
# Output: [0, 4, 16, 36, 64]

print(result)

[0, 4, 16, 36, 64]

In [212]:
calcius = [0,10,20,30,40,34]
farhenheit = [(9/5)*temp + 32 for temp in calcius]
print(farhenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 93.2]

In [223]:
fahrenheit = []
celcius = [0,10,20,30,40,34]
for temp in celcius:
    fahrenheit.append(( (9/5)*temp + 32))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 93.2]

In [227]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]
print(results)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [228]:
mylist = [x*y for x in[2,4,6] for y in [1,10,1000]]
print(mylist)

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [245]:
st ='Create a list of the first letters of every word in this string'
word = [stg[0] for stg in st.split()]
print(word)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [2]:
unique_letters = {l for l in "banana"}
# Output: {'b', 'a', 'n'}
print(unique_letters)

{'b', 'n', 'a'}

In [5]:
mylist = ['a','b','c']

'-'.join(mylist)

'a-b-c'